*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
}
body{
      font-family: Arial,  sans-serif;
      background-color: #f4f4f9;
      color: #333;
      background-image: url(images/house-1836070_1280\ \(1\).jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position:center;
  
}
header{
    background: -webkit-linear-gradient(120deg, hsl(318, 94%, 61%), hsl(239, 69%, 51%));;;;
    padding: 1rem;
    text-align: center;
    color: #fff;
    width: 100%;
}
.navbar{
    color: blue;
    margin: 0 10px;
    list-style: none;

}
.navbar ul li{
    display:inline-block ;
    list-style: none;
    padding: 10px 20px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: right;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
li a:hover{
    background-color: aqua;
    border-radius: 20px;
}
footer{
    text-align: center;
    padding: 10px 0;
    background:  -webkit-linear-gradient(120deg, hsl(318, 94%, 61%), hsl(239, 69%, 51%));;
    color: white;
    position:absolute;
    bottom: 0;
    width: 100%;
}
h1{
    color: black;
    font-weight: bold;
}
.logo{
    width: 0px;
    position:sticky;
    padding-left: 0px;
    padding-top: 0px;
}
  